.entries {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 800px;
    margin: auto;
}

.entry {
    display: flex;
    align-items: center;
    gap: 18px;

    border: 1.5px solid #27187E;
    border-radius: 0px;
    padding: 16px;

    background: #d5d5d4;
    transition: 0.2s;
}

.entry:hover {
    /* transform: translateY(-2px); */
    /* box-shadow: 0 4px 12px rgba(0,0,0,0.15); */
    background-color: #d2cccc;
    /* background: transparent; */
}

.entry img {
    width: 100px;
    height: 100px;
    object-fit: cover;

    border-radius: 6px;
    flex-shrink: 0;
}

.entry-content {
    display: flex;
    flex-direction: column;
}

.entry-content h3 {
    margin: 0;
    font-size: 1.3rem;
}

.entry-content p {
    margin-top: 8px;
    color: #514592;
    line-height: 1.4;
}