

.post-index {

    overflow-y: auto;

    /* Firefox */
    scrollbar-width: none;

    /* IE / old Edge */
    -ms-overflow-style: none;

}

/* Chrome, Edge, Safari */
.post-index::-webkit-scrollbar {

    width: 0;
    height: 0;

}

.content
{
    min-height:80vh;

    display:flex;

    justify-content:center;

    align-items:center;
}


.grid-container {

    display:grid;

    width:min(80vw, 80vh);

    aspect-ratio:4.25 / 3;


    grid-template-columns:repeat(5, 1fr);

    grid-template-rows:repeat(3, 1fr);


    gap:1em;


    grid-template-areas:

    ". . box-1 . ."
    "box-8 box-2 box-3 box-4 box-6"
    ". box-7 . box-5 .";

    

}


.box {

    border:1px solid black;
    border-radius: 8px;

    text-align: center;
    justify-content:center;
    align-items:center;
    display:flex;

}

.parallel
{
    font-size:0.7rem;

}

.comp-vision
{
   font-size:0.9rem; 
}

.geom
{
    font-size:0.9rem; 
}
